
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;             
    flex-direction: column;    
    height: 100vh;             
  }
  
 
  header {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
  }

  header .logo {
    font-size: 36px;     
    color: #F80002;     
    margin-right: 15px;  
    display: inline-block;
    vertical-align: middle; 
}
  

  main {
    display: flex;           
    flex-direction: row;       
    flex: auto;                
  }
  
  
  article {
    flex: 2;                   
    padding: 20px;
    overflow-y: auto;          
    background: #ffffff;
    border-right: 1px solid #ddd;
  }
  
  aside {
    flex: 1;                   
    padding: 20px;
    overflow-y: auto;          
    background: #f9f9f9;
  }
  
  
  footer {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  